* {
  margin: 0px;
  padding: 0px;
}
dl {
  font-family: "Times New Roman", Times, serif;
  padding: 1em;
}
dt {
  font-size: 2em;
  font-weight: bold;
}
dt span {
  font-size: 0.5em;
  color: #777;
  margin-left: 0.5em;
}
dd {
  font-size: 1.25em;
  margin: 1em 0 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}
.back-btn {
  float: right;
  margin: 0 2em 1em 0;
}
